<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DSBoxPlusUI"
        tools:targetApi="31">
        <activity
            android:name=".clients.EstimateListActivity"
            android:exported="false" />
        <activity
            android:name=".baseview.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".profile.subUser.AddSubUserActivity"
            android:exported="false" />
        <activity
            android:name=".loginandverification.TermsAndPrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".profile.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".profile.subUser.SuperUserSetting"
            android:exported="false" />
        <activity
            android:name=".profile.SubscriptionActivity"
            android:exported="false" />
        <activity
            android:name=".clients.ClientDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".loginandverification.EnterBusinessDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".loginandverification.VerifyOtpActivity"
            android:exported="false" />
        <activity
            android:name=".estimates.ProductionInBoxEstimatesDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".estimates.QuotationInBoxEstimateDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".estimates.BoxEstimatesDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".estimates.BoxSpecificationAndCostActivity"
            android:exported="false" />
        <activity
            android:name=".estimates.PaperSpecificationActivity"
            android:exported="false" />
        <activity
            android:name=".estimates.NewEstimateActivity"
            android:exported="false" />
        <activity
            android:name=".profile.Help"
            android:exported="false" />
        <activity
            android:name=".profile.UserDetailsInProfile"
            android:exported="false" />
        <activity
            android:name=".clients.AddNewClientsActivity"
            android:exported="false" />
        <activity
            android:name=".profile.QuotationTerms"
            android:exported="false" />
        <activity
            android:name=".profile.DefaultRateSettings"
            android:exported="false" />
        <activity
            android:name=".profile.DefaultPaperSettings"
            android:exported="false" />
        <activity
            android:name=".profile.BusinessDetailsActivity"
            android:exported="false" />
        <activity android:name=".profile.subUser.SubUserDetailsActivity"
            android:exported="false"/>
        <activity
            android:name=".home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".loginandverification.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".loginandverification.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>
    </application>

</manifest>